
.tableArea > p{
  margin: 10rem auto;
}

.tableArea > table{
  margin: 10rem auto;
  border: 2px solid #fff;
  border-collapse: collapse;
}

tr{
  border: 1px solid #fff;
}

th,
td{
  border: 1px solid #fff;
}

td > p{
  margin: .5rem 0;
}

th{
  color: #fff;
  font-size: 1.5rem;
  padding: .5rem 0;
}